<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanCloud/TDS 网络诊断分析</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>
    <div class='container'>
      <h1>LeanCloud/TDS 网络诊断分析</h1>
      <noscript>JavaScript 被禁用</noscript>
      <div class='row'>
        IP 相关信息
        <table class='table'>
          <tr>
            <td>您的 IP</td>
            <td id='ip'><%= ip %></td>
          </tr>
          <tr>
            <td>来自</td>
            <td id='location'><%= location %></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        操作系统和浏览器相关信息
        <table class='table'>
          <tr>
            <td>操作系统</td>
            <td id='os'></td>
          </tr>
          <tr>
            <td>浏览器</td>
            <td id='browser'></td>
          </tr>
          <tr>
            <td>User Agent</td>
            <td id='ua'></td>
          </tr>
          <tr>
            <td>LocalStorage 状态</td>
            <td id='ls_status'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        LeanCloud 域名的测试结果
        <table class='table'>
          <tr>
            <td>leancloud.cn</td>
            <td id='lc_ping'></td>
          </tr>
          <tr>
            <td>us.leancloud.cn</td>
            <td id='us_lc_ping'></td>
          </tr>
          <tr>
            <td>leanapp.cn</td>
            <td id='lc_app_ping'></td>
          </tr>
          <tr>
            <td>App Router</td>
            <td id='lc_app_router_ping'></td>
          </tr>
          <tr>
            <td>Push Router</td>
            <td id='lc_push_router_ping'></td>
          </tr>
          <tr>
            <td>国内版（华北节点）API Server 共享域名</td>
            <td id='lc_api_cn_n1_ping'></td>
          </tr>
          <tr>
            <td>国内版（华东节点）API Server 共享域名</td>
            <td id='lc_api_cn_e1_ping'></td>
          </tr>
          <tr>
            <td>国际版 API Server 共享域名</td>
            <td id='lc_api_us_w1_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        LeanCloud wss 的测试结果
        <table class='table'>
          <tr>
            <td>国内版（华北节点）</td>
            <td id='wss_cn_n1_ping'></td>
          </tr>
          <tr>
            <td>国内版（华东节点）</td>
            <td id='wss_cn_e1_ping'></td>
          </tr>
          <tr>
            <td>国际版 </td>
            <td id='wss_us_w1_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        TDS 域名的测试结果
        <table class='table'>
          <tr>
            <td>国内版（tds-tapsdk.cn.tapapis.com）</td>
            <td id='tds_cn_eco_ping'></td>
          </tr>
          <tr>
            <td>国内版（xyz.cloud.tds1.tapapis.cn）</td>
            <td id='tds_cn_cloud_ping'></td>
          </tr>
          <tr>
            <td>国际版（xyz.cloud.ap-sg.tapapis.com） </td>
            <td id='tds_sg_cloud_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        TDS wss 域名的测试结果
        <table class='table'>
          <tr>
            <td>国内版</td>
            <td id='tds_cn_wss_ping'></td>
          </tr>
          <tr>
            <td>国际版 </td>
            <td id='tds_sg_wss_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        文件上传域名的测试结果
        <table class='table'>
          <tr>
            <td>upload.qiniup.com</td>
            <td id='qiniu_up_ping'></td>
          </tr>
          <tr>
            <td>up.qbox.me</td>
            <td id='qbox_up_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        常见国内域名的测试结果
        <table class='table'>
          <tr>
            <td>163.com</td>
            <td id='163_ping'></td>
          </tr>
          <tr>
            <td>sina.com.cn</td>
            <td id='sina_ping'></td>
          </tr>
          <tr>
            <td>baidu.com</td>
            <td id='baidu_ping'></td>
          </tr>
        </table>
      </div>

      <div class='row'>
        <table>
          <tr>
            <td><button id='save_btn'>保存结果</button></td>
            <td id='saved_url'></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
